body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

/* HERO SECTION */
.hero {
    background: url("https://images.unsplash.com/photo-1558611848-73f7eb4001ab") no-repeat center/cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    text-align: center;
    background: rgba(0,0,0,0.6);
    padding: 40px;
    border-radius: 10px;
}

.hero h1 {
    font-size: 50px;
    margin: 0;
}

.hero p {
    font-size: 20px;
    margin: 10px 0;
}

/* BUTTON */
.btn {
    display: inline-block;
    background: #00ff88;
    color: black;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* NAV */
nav {
    background: black;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00ff88;
}

/* INTRO */
.intro {
    text-align: center;
    padding: 50px;
}

/* SERVICES CARDS */
.services {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    background: #222;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background: #00ff88;
    color: black;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: black;
}
